body {
	background-color: #FFF9D0;
  }

  .login-container {
	width: 400px;
	margin: auto;
	padding: 50px;
	background-color: #FFF9D0;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }

  .sidebar {
	height: 100vh;
	background-color: #5AB2FF;
	padding: 20px;
	position: fixed;
  }

  .main-content {
	margin-left: 250px;
	padding: 20px;
  }

  .card {
	margin-bottom: 20px;
  }

  .chat-container {
	display: flex;
	height: 100vh;
  }

  .friends-list {
	width: 300px;
	background-color: #A0DEFF;
	padding: 20px;
  }

  .chat-window {
	flex-grow: 1;
	padding: 20px;
	display: flex;
	flex-direction: column;
  }

  .messages {
	flex-grow: 1;
	overflow-y: scroll;
	margin-bottom: 20px;
  }

  .message-input {
	display: flex;
  }

  .message-input input {
	flex-grow: 1;
  }

  .game-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: white;
  }

  .game-area {
	width: 800px;
	height: 600px;
	background-color: #000;
	border: 2px solid #FFF9D0;
  }

  .game-info {
	margin-top: 20px;
  }
