body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #FFF9D0;
}

h1 {
	text-align: center;
	margin-bottom: 70px;
	font-weight: 900;
}

.login-container h1 {
	margin-bottom: 20px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 400px;
	padding: 50px;
	background-color: #CAF4FF;
	border-radius: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	border: 5px solid black;
}

form {
	width: 100%;
}

p {
	margin-bottom: 20px;
}

label {
	display: block;
	text-align: center;
	margin-bottom: 5px;
	width: 100%;
	font-weight: 900;
	box-sizing: border-box;
}

input[type="text"], input[type="password"] {
	width: calc(100% - 20px);
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	background-color: #5AB2FF;
	border-radius: 30px;
	border: 1px solid black;
}

.unmask {
	display: inline-block;
	margin-top: 10px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}

.btn {
	width: 100%;
	padding: 10px;
	background-color: #007bff;
	border: none;
	border-radius: 30px;
	color: #ffffff;
	font-size: 16px;
}

.btn-primary {
	background-color: #007bff;
	border: 3px solid black;
}

.btn-block {
	display: block;
	width: 100%;
}

.password-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
  }
  
  .password-wrapper input[type="text"], 
  .password-wrapper input[type="password"] {
	width: 100%;
	padding-right: 40px;
	box-sizing: border-box;
  }
  
  .password-wrapper .unmask {
	position: absolute;
	right: 10px;
	top: -15%;
	background: none;
	border: none;
	cursor: pointer;
	color: black;
  }
  